<header>
  <div class="header-text">
    <h1>Pokédex usando a API PokemonTCG</h1>
    <h4><i>Set escolhido para o projeto: XY (id xy1)</i></h4>
  </div>
</header>


<owl-carousel-o [options]="customOptions"
class="carousel">
  <ng-template carouselSlide class="carousel-card">
      <img [src]="'https://images.pokemontcg.io/xy1/1.png'" alt="img 1">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/2.png" alt="img 2">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/3.png" alt="img 3">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/4.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/5.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/6.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/7.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/8.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/9.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/10.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/11.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/12.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/13.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/14.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/15.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/16.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/17.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/18.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/19.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/20.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/21.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/22.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/23.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/24.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/25.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/26.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/27.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/28.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/29.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/30.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/31.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/32.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/33.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/34.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/35.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/36.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/37.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/38.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/39.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/40.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/41.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/42.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/43.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/44.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/45.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/46.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/47.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/48.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
      <img src="https://images.pokemontcg.io/xy1/49.png" alt="img 4">
  </ng-template>
  <ng-template carouselSlide class="carousel-card">
    <img [src]="'https://images.pokemontcg.io/xy1/51.png'" alt="img 1">
</ng-template>
  <ng-template carouselSlide class="carousel-card">
    <img [src]="'https://images.pokemontcg.io/xy1/51.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/52.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/53.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/54.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/55.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/56.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/57.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/58.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
    <img src="https://images.pokemontcg.io/xy1/59.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/60.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/61.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/62.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/63.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/64.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/65.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/66.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/67.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/68.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/69.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/70.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/71.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/72.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/73.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/74.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/75.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/76.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/77.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/78.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/79.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/80.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/81.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/82.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/83.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/84.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/85.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/86.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/87.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/88.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/89.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/90.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/91.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/92.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/93.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/94.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/95.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/96.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/97.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/98.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/99.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/100.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/101.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/102.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/103.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/104.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/105.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/106.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/107.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/108.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/109.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/110.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/111.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/112.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/113.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/114.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/115.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/116.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/117.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/118.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/119.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/110.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/111.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/112.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/113.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/114.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/115.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/116.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/117.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/118.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/119.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/120.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/121.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/122.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/123.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/124.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/125.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/126.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/127.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/128.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/129.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/130.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/131.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/132.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/133.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/134.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/135.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/136.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/137.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/138.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/139.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/140.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img [src]="'https://images.pokemontcg.io/xy1/141.png'" alt="img 1">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/142.png" alt="img 2">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/143.png" alt="img 3">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/144.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/145.png" alt="img 4">
</ng-template>
<ng-template carouselSlide class="carousel-card">
  <img src="https://images.pokemontcg.io/xy1/146.png" alt="img 4">
</ng-template>


</owl-carousel-o>


<app-pokemon-list></app-pokemon-list>
