
header
  height: 80px
  background-color: red
  font-family: "Poppins"
  text-align: center

.carousel 
  max-width: 800px
  margin: 40px 40px
  height: 450px
  border: 1px solid black
  margin-left: 300px
  display: flex
  justify-content: center
  align-items: center
  

.carousel img
  margin: 10px 20px
  border: 1px solid red
  width: 250px
  display: block
