<header>
  <h1>Pokédex com TCG API</h1>
</header>


<owl-carousel-o [options]="customOptions"
class="carousel">
  <ng-template carouselSlide class="carousel-card">
   
      <img [src]="'https://images.pokemontcg.io/xy1/1.png'" alt="img 1">
   
  </ng-template>

  <ng-template carouselSlide class="carousel-card">
   
      <img src="https://images.pokemontcg.io/xy1/2.png" alt="img 2">
   
  </ng-template>

  <ng-template carouselSlide class="carousel-card">
   
      <img src="https://images.pokemontcg.io/xy1/3.png" alt="img 3">
   
  </ng-template>

  <ng-template carouselSlide class="carousel-card">
   
      <img src="https://images.pokemontcg.io/xy1/4.png" alt="img 4">
   
  </ng-template>




</owl-carousel-o>


<app-pokemon-list></app-pokemon-list>
